<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to StockTradingApp, <%= @user.email %></h1>
    <p>
      After careful review, your broker account is approved.<br>
      You may now start selling stocks.
    </p>
  </body>
</html>
