<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to StockTradingApp, <%= @user.email %></h1>
    <p>
      You have successfully signed up for buyer account.<br>
    </p>
  </body>
</html>

