<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to StockTradingApp, <%= @user.email %></h1>
    <p>
      You signed up for broker account, with status: pending and under review.<br>
      Expect another email from us once your broker account is approved.
    </p>
  </body>
</html>
