<div class="home-container">
    <h1 class="title">Stock Trading App</h1>
    <h4 class="description">The best time to invest is today.</h4>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-gold btn-home" %>
</div>
